<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-icon src="assets/icons/corkscrew.svg"></ion-icon>
  <ion-icon src="assets/icons/corkscrew.svg" color="danger"></ion-icon>
  <ion-icon src="assets/icons/corkscrew.svg" color="primary"></ion-icon>
  <ion-icon src="assets/icons/corkscrew.svg" color="secondary"></ion-icon>
  <ion-icon src="assets/icons/corkscrew.svg" color="tertiary"></ion-icon>
  <ion-icon src="assets/icons/corkscrew.svg" color="warning"></ion-icon>
</ion-content>
